{
  "printWidth": 80,

  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
